<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <% if(user) { %>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/img/users/<%= user.image %>" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>
                                        <%= user.name %>
                                    </h4>
                                    <p class="text-muted font-size-sm">
                                        <%= user.city %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Họ tên: </h6>
                                </div>
                                <div class="col-sm-9 text-muted h6">
                                    <%= user.name %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Địa chỉ Email: </h6>
                                </div>
                                <div class="col-sm-9 text-muted h6">
                                    <%= user.email %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Số điện thoại: </h6>
                                </div>
                                <div class="col-sm-9 text-muted h6">
                                    +84<%= user.phone %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Tỉnh/Thành phố</h6>
                                </div>
                                <div class="col-sm-9 text-muted h6">
                                    <%= user.city %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Địa chỉ: </h6>
                                </div>
                                <div class="col-sm-9 text-muted h6">
                                    <%= user.address %>
                                </div>
                            </div>
                            <hr>
                            <div class="row justify-content-between align-items-center">
                                <div class="col-sm-4">
                                    <a class="btn btn-info" href="/updateProfile">Sửa thông tin</a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="/myOrder" class="btn btn-info">Đơn mua hàng</a>
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-info float-right" href="/updatePassword">Đổi mật
                                        khẩu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>

    </div>
</div>